// Add these styles to your .scss file
// IFRAME FIX

.icon-link {
  position: relative;
  display: inline-block;

  .outline-icon,
  .color-icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease-in-out;
  }

  .outline-icon {
    opacity: 1;
  }

  .color-icon {
    opacity: 0;
  }
  p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  @media (min-width: 550px) {
    &:hover {
      .outline-icon {
        opacity: 0;
      }

      .color-icon {
        opacity: 1;
      }
      // p {
      //   text-decoration: underline;
      // }
    }
  }
}
.wp-block-post-content a:where(:not(.wp-element-button)) {
  color: inherit;
  text-decoration: none;
}
:root :where(.is-layout-flow) > * {
  margin-block-start: 0;
}
:where(body .is-layout-constrained) > :last-child:last-child {
  margin-block-end: 0;
}
.global-footer-2022 a {
  color: #fff !important;
}
#tagboard-content {
  min-height: 800px;
}
:root :where(p) {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-top: inherit;
  margin-bottom: inherit;
}
