// Define keyframes for the border animation
@keyframes borderSlide {
  0% {
    border-width: 0;
    border-color: transparent;
  }
  100% {
    border-width: 2px; // Adjust border thickness as needed
    border-color: black; // Adjust border color as needed
  }
}

// Apply the animation to the submenu-link class
.submenu-link-small {
  width: fit-content;
  position: relative;
  display: inline-block; // Ensure the element is inline for proper border animation
  //   padding-bottom: 5px; // Adjust based on your design needs

  // Create a pseudo-element for the border
  &::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    height: 1px; // Border thickness
    width: 0;
    background-color: black; // Border color
    transition: width 0.35s; // Animation duration
  }

  // Add a hover effect to animate the border
  &:hover::before {
    width: 100%;
  }
}
.top-open {
  margin-top: -20px;
}
@media screen and (max-width: 550px) {
  .dropdown-container {
    position: relative;
    cursor: pointer;
    &:before {
      position: absolute;
      right: 0;
      width: 20px;
      height: 20px;
      content: "";
      background-image: url("/arrow.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      top: 50%; // Default top for all instances
      transform: translateY(-50%); // Vertically center the image
      transition: all 0.25s ease-in-out;
    }

    &.first-one:before {
      top: 20px; // Specific top for the first instance
    }
    &.active-arrow:before {
      transform: translateY(-50%) rotate(180deg); // Rotate 180 degrees when active
    }
  }
}
